h1, h2, h3, h4, h5, h6 {
  color: #444;
  margin: 5px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.title {
  background-color: #f0f0f0;
  margin: 10px;
  padding: 10px 20px;
}
.title-news {
  margin: 10px;

  font-size: 23px;
  color: black;
}

.slider {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  background-color: #f0f0f0;
  width: 250px;
  height: 300px;
  margin: 10px 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.body {
  display: flex;
  flex-direction: row;
}
.newsest {
  display: flex;
  flex-direction: column;
  margin-right: 250px;
  margin-top: 100px;
}

.item-image {
  height: 200px;
  width: 250px;
}
.news-image {
  width: 730px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.news-content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


.p-content {
  font-size: 18px;
  line-height: 35px;
}

.page-wrapper a:hover {
  color: #006669;
}

.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top:50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 330px;
  margin: 0px 10px;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}