.header {
    /* background-color: black !important; */
}
body {
    background-color: #e6e6ff;
    
}
.lession {
    margin-left: -15px;
    height: 415px;
    border-radius: 4px;
    margin-top: 12px;
    background-color: white;
    box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.15);
}
.body-training {
    display: flex;
    justify-content: center;
    margin-top: 10px;
   
}
.training-area {
    /* background-color: #e0e6f1; */
    background-color: #e6e6ff;
    /* box-shadow: 2px 3px 14px black; */
    padding: 12px
}
.text-area {
    padding: 8px 10px 10px 20px;
    display: flex;
    /*justify-content: center;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden;
    font-size: 20px;
    padding-left: 20px;
    /* border: 1px solid ; */
    border-radius: 4px;
    width: 90%;
    height: 50px;
    margin-top: 35px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

.typing {
    border: 1px solid ;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 10px;
    border-radius: 4px;
    width: 86%;
    height: 150px;
    overflow: auto;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important; */
    padding-left: 4px;
   
}
.main {
    border-radius: 4px;
    background-color: white;
    box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.15);
    height: 650px;
    padding: 0px 30px 0px 30px;
    margin-left: 2px;
}
.btn-style {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

#time-count {
    width:7%;
    height:40px; 
    margin-left: 2px;
}

#lession-list {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    
}
.list-group-item {
    border-radius: 0px;
    color: gray;
}
.list-group-item.active {
    
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    border-radius: 0px !important;
}

.list-group {
    margin-left: -15px;
    margin-top: 10px;
    width: 116%;
    
}

small {
    display: block;
    margin-left: 23px !important; 
    margin-top: 3px;
    
}

.key-pressed {
    margin-top: 125px;
    width: 113%;
    height: 250px;
    margin-left: -30px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}

#type > span {
    padding: 3px 5px 3px 5px;
    margin: 0px 2px 0px 2px;
}
.option {
    margin-left: -20%;
    margin-top: 30%;
}
#key-pressed {

    margin-left: -20px;
    width: 110%;
    height: 268px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;

}

#result {
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333333;
    background: #4d7f9f;
    border-radius: 5px 5px 0px 0px;
}

#wpm {
    display: flex;
    justify-content: center;
    color: red;
    padding: 10px 0px 10px 0px;
    background-color: #f9f9f9;
}
#wpm h2 {
    font-weight: bold;
}

#key-pressed > span > h6 {
    padding: 9px 0px 9px 0px;
    font-size: 16px;
    margin-left: 10px;
}
#collect-word > h6 {
    background: #f9f9f9;
}
#word-pressed-result, #word-collect-result, #word-wrong-result, #ratio-word-result{
    float: right;
    margin-right: 15px;
    color: red;
}
#ratio-word-result {
    margin-right: 5px!important;
}

#keyboard-steno img{
    margin-top: 15%;
    display: block;
    max-width: 450px;
}

